
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic);

body {
  background-color: #ddd;
  color: #444;
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #3eb489;
}

a:hover {
  color: #98ff98;
}

button.flat {
  background-color: #3eb489;
  border: none;
  border-radius: 5px;
  color: #f9f9f9;
  cursor: pointer;
  font-size: 1em;
  padding: .5em 1em;
}

button.flat.large {

}

button.flat.medium {

}

.left {
  float: left;
}

.right {
  float: right;
}

.top-buffer {
  margin: 3.2em;
}

.header {
  background-color: #f9f9f9;
  border-bottom: 2px solid #ccc;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.header > div {
  padding: .5em .5em;
}

.header a {
  color: #444;
  text-decoration: none;
}

.header a:hover {
  color: #3eb489;
}

.footer a {
  color: #444;
}

a.big-link, a.big-link:hover {
  color: #444;
  font-weight: bold;
}

.header button {
  margin: 0 .5em;
}

.header a, .header span {
  margin: 0 .5em;
  padding: 1em 0;
}

div.section {
  background-color: #f9f9f9;
  padding: 1em;
  text-align: center;
}

div.footer {
  background-color: #ddd;
}

div.inverted {
  background-color: #444;
  color: #f9f9f9;
}

div.section:not(.inverted) + div.section:not(.inverted), div.section.inverted + div.section.inverted {
  border-top: 1px solid #ccc;
}

div.showcase {
  background-image: url(http://placekitten.com/1150/510?image=3);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 6em;
}
